{
  presets: ["es2015", "stage-2"],
  plugins: [
    "transform-runtime",
    "./node_modules/jsxquery/lib/babelTransformPlugins/namespacedNames",
    ["transform-react-jsx", { "pragma": "jsxQuery.createElement" }],
    "./node_modules/jsxquery/lib/babelTransformPlugins/conditionalExpressions",
  ]
}